# Application Configuration
PORT=3000

# PostgreSQL Connection String
# When running on host machine connecting to exposed container port:
DATABASE_URL=postgresql://postgres:dev@localhost:5432/tasks

# When running inside Docker Compose container network:
# DATABASE_URL=postgresql://postgres:dev@db:5432/tasks

# Redis Cache URL (Stretch Goal)
REDIS_URL=redis://localhost:6379/0
# Inside Docker Compose:
# REDIS_URL=redis://redis:6379/0
